.Manage_products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-left:10%;
    margin-right:5%;
    height: 40px;
    background: rgb(40, 40, 43);
    border-radius: 35px;


}


.Manage_products>span{
    cursor: pointer;
}

.Link{
    text-decoration: none;
  
    
}
span1{
    color:rgb(98, 78, 189);
    font-size: large;
    font-weight: 400;

}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
