.sidebar{
    background-color: blueviolet;
    width: 5%;
    background:rgb(25, 25, 26);
    position: fixed;
    margin-left: 15px;
    border-radius: 35px;
    margin-top: 70px;
  
}
.sidebar>ul{
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

.sidebar>ul>.Link{
    margin-bottom: 70px;
    list-style: none;
    color: azure;   
    display: flex;
    flex-direction: row;
    margin-right: 15px;
   
}

.sidebar>ul>.EndLink{
    list-style: none;
    color: azure;   
    display: flex;
    flex-direction: row;
    margin-right: 15px;
   
}


.sidebar>ul>li:hover{
    cursor: pointer;
}

.sidebar>ul>.Link{
    text-decoration: none;
    
}
.sidebar>ul>.active-link{
    list-style: none;
    color:rgb(0, 0, 0);
}
.sidebar>ul>.Link>li{
    padding-right: 5px;

}

