.review{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px ;
    margin-top: 50px;
    flex-direction: column;

}

.review>.review_posts{
    width: 50%;
    height: 80%;
    background-color: rgb(232, 237, 240);
    border-radius: 15px;

}

.review>.review_posts>.post_header>ul{
 
    list-style: none;
    display: flex;
   flex-direction: row;
    float :left;


}

.review>.review_posts>.post_header>ul>li{
    margin-left :5px;
}

.review>.review_posts>p{
     float: left;
     margin-left:  35px
}

.review>.review_posts>span{
    margin-left: 15px;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete{
    cursor: pointer;
}